.titulo {
  background-image: url('logo_gauss_branca.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: auto 50%; 
}

.progress {
  color: rgba(0,0, 0, .25) !important;
}

#listaequipe {
  background: url('logo_pe.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 50%; 
  background-size: auto 120%; 
}


.reveal i{
    font-family: 'FontAwesome';
    font-style: normal;
}